/* .chip > div:not(:first-of-type) > div > input {
  background-color: lightgray !important;
  border-radius: 1rem !important;
} */

.disabled {
  pointer-events: none;
  background-color: lightgray !important;
  border-radius: 1rem !important;
}
