@media all and (min-width: 480px) {
  .createOrg {
    padding: 60px 0;
  }

  .createOrg form {
    margin: 0 auto;
    max-width: 440px;
  }

  .container {
    height: 100vh;
  }

  .createOrgContainer {
    width: 32rem;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .createOrgLegend {
    width: 14rem;
    background: #dee2e6;
  }
  .errorMessage {
    font-size: 12px;
    letter-spacing: 0.05rem;
    padding-left: 0.25rem;
    align-items: center;
    justify-content: center;
    display: flex;
    max-width: 320px;
  }
  .valError {
    color: rgb(182, 28, 28);
    font-size: small;
  }
}
